.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#content {
  position: relative;
}

#content::after {
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body {
  font-family: Lobster, cursive;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url('./img/background2.jpg') ; */
  background-image: url("./img/background2.jpg");

  /* background-color : rgb(232 228 219 / 65%) !important */
}

nav {
  padding: 20px 0;
}

/* 
#root > div{
  background-color: rgba(232, 228, 219, 0.35) !important;  
}
*/

footer,
.uk-navbar-container,
.dropdown-content,
.presentation,
.form {
  background-color: rgba(232, 228, 219, 0.35) !important;
}
.uk-navbar-nav li a {
  font-size: 1.1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-image: url('./img/background2.jpg') ; */
  min-width: 160px;
  background-color: white !important ;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 59%);
  z-index: 1;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;

  list-style: none;
  display: block;
}
.dropdown-content li a {
  text-decoration: none;
}

/* .dropdown-content a:hover {background-color: #ddd;} */

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li a:hover .dropdown-content li a {
  color: red;
}

.form-group .input,
.input {
  background-color: #eb4a43;
  border-radius: 400px;
  color: white;
}
input ::placeholder {
  color: white;
}

.form-group .add,
.btn-warning {
  background-color: #fbc418;
  border-radius: 400px;
  text-transform: none;
}

.form-group .btn-danger {
  background-color: #eb4a43 !important;
  border-radius: 400px;
  text-transform: none;
  color: white;
  font-size: 12px;
}

.rating {
  float: left;
  width: 300px;
}
.rating span {
  float: right;
  position: relative;
}
.rating span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.rating span label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #ccc;
  font-size: 30px;
  margin-right: 2px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background: #f90;
  color: #fff;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.icon-heart {
  color: #eb4a43;
}
.icon-heart path {
  fill: #eb4a43 !important;
  color: #eb4a43;
}
.icon-file-edit {
  color: #eb4a43 !important;
  stroke-width: 3px;
}
#heart path {
  fill: white;
}
.uk-logo h2 {
  font-family: Lobster, cursive;
  font-size: 35px !important ;
  color: #eb4a43 !important;
}
.title1,
.title2,
.title3,
.list-group-flush span,
.title,
.title4 {
  font-family: Lobster, cursive;
}
.title1,
.title {
  font-size: 28px !important;
}
.title2,
.title4 {
  font-size: 22px !important;
}
.title3 {
  font-size: 18px !important;
}

.title1:hover,
.title2:hover,
.title3:hover,
.uk-logo .title1 {
  color: #eb4a43 !important;
}
.profile .add {
  right: 50px;
  top: 10px;
}
#modal .container {
  background-color: #eb4a43;
  color: white;
  align-self: center;
}
.btn-danger {
  background-color: #eb4a43 !important;
}
